// body, html {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

.slider-container {
  width: 100%;
  overflow: hidden;
  img{
    height: 100vh;
  }
}

.slider {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slide {
  min-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
