
.Aimg{
    float: left;
    width: 30%;    
    position: relative;
}
.Atxt{
    position: relative;
    float: left;
    text-align: left;
    padding-right: 20px;
    h4{
        font-size: 32px;
        color: #242322;
        padding-bottom: 20px;
    }
    h3{
        font-size: 23px;
        color: #242322;
        padding-bottom: 20px;
    }
    h2{
        font-size: 34px;
        color: #e48989;
        font-weight: bold;
        padding-bottom: 20px;
    }
    p{
        font-size: 15px;
        line-height: 2;
    }
}