

.img{
    float: right;
    width: 60%;
}
.txt{
    float: left;
    text-align: left;
    h4{
        font-size: 32px;
        color: #242322;
        padding-bottom: 20px;
    }
    h3{
        font-size: 23px;
        color: #242322;
        padding-bottom: 20px;
    }
    h2{
        font-size: 38px;
        color: #e48989;
        font-weight: bold;
        padding-bottom: 20px;
    }
    p{
        font-size: 15px;
        line-height: 2;
    }
}