.image-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .item2{
    background-image: url(../../../public/img/main4/3.png);
    background-size: cover;
  }
  .item3{
    background-image: url(../../../public/img/main4/2.png);
    background-size: cover;
  }
  .item4{
    background-image: url(../../../public/img/main4/1.png);
    background-size: cover;
  }
  .item5{
    background-image: url(../../../public/img/main4/4.png);
    background-size: cover;
  }

.image-item {
  position: relative;
  overflow: hidden;
  width: 50vw; /* 이미지 아이템의 너비 설정 */
  height: 100vh; /* 이미지 아이템의 높이 설정 */
  transition: width 1s ease; /* 호버 시 크기 변화를 부드럽게 만들기 위한 트랜지션 설정 */
}

.image-item:hover {
  width: 400vw; /* 호버 시 가로로 전체 이미지가 보이도록 확대 */
}

.item-txt2 {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease; /* 호버 시 텍스트 표시를 부드럽게 만들기 위한 트랜지션 설정 */


  p{
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
    display: block;
  }
  strong{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1.5px;
  }
}

.tit{
  font-weight: 400;
  font-size: 45px;
  letter-spacing: -4px;
  display: block;
  padding-bottom: 20px;
}

.image-item:hover .item-txt2 {
  opacity: 1;
}
}