#login-form{
    list-style: none;
    width: 500px;
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 20vh;
    padding-bottom: 40px;
    h3{
        font-size: 32px;
        font-weight: 400;
        line-height: 1;
        margin: 10px 0;
    }
    h1{
        margin: 10px 0;
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: 500;
        font-family: Montserrat,Notosanskr,sans-serif;
    }
    #login-input{
        width: 90%;
        margin: auto;
        margin-bottom: 40px;
        #id,#pwd{
            font-weight: 600;
            padding:10px 20px;
            display: block;
            width: 90%;
            margin-bottom: 20px;
            background-color: #EBEBEB;
            border: 0px;
            font-size: 20px;
            font-weight: 300;
        }
    }
    #login-btn{
        width: 90%;
        height: 50px;
        color: white;
        background-color: brown;
        border: 0px;
        border-radius: 50px;
        font-size: 20px;
        transition: 0.3s;
    }
    #login-btn:hover{
        background-color: #424242;
    }
    #find-id-form{
        width: 60%;
        margin: 10px auto;
        gap: 30px;
        a{
            font-weight: 700;
            color: black;
            margin-left: 20px;
            text-decoration: none;            
            padding: 2px;
            border-bottom: 1px solid black;
        }
        a:hover{
            color:brown;
            border-color: brown;
        }
    }
}