.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover; // background-size: cover 와 비슷함. (HTML 요소 or 비디오와 작동)
  
}

.main-page2{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed !important;

  .main-content2 {
    text-align: center;
    color: white;

    h1 {
      padding-bottom: 30px;
      font-size: 3.5rem;
    }

    li {
      border: solid 2px rgb(255, 255, 255);
      padding: 15px 0;
      border-radius: 50px;
      list-style: none;
      transition: background-color 0.4s ease-in-out;
    }

    a{
      color: white;
      font-weight: 600;
      font-size: 1.5rem;
      text-decoration: none;
    }

    li:hover{
      background-color: rgb(218, 247, 252);
      color: black;
    }
  }
}

.main-page3{
  position: relative;
  display: grid;
  grid-template-columns: 7fr 3fr; /* 8:2 비율로 설정 */
  height: 100vh; /* 전체 화면 높이로 설정, 필요에 따라 조절 가능 */


  .main-side-bar{
    background-color: #333; /* 오른쪽 사이드바 배경색 */
    color: white;
    padding: 20px;
  }
}

.main-side-txt{
  padding: 50px 20px;

  h1{
    font-size: 2.5rem;
    padding-bottom: 20px;
  }

  h2{
    font-size: 2.0rem;
    font-weight: 300;
    padding-bottom: 40px;
  }

  h4{
    font-size: 1.0rem;
    font-weight: 200;
    padding-bottom: 50px;
  }

  li{
    list-style: none;
    padding-bottom: 30px;
  }

  a{
    color: white;
    padding-bottom: 2px;
    border-bottom: solid 0.0001rem white; /* 밑줄 굵기 및 색상 설정 */
    text-decoration: none; /* 기본 밑줄 제거 */
  }

  a:hover {
    color: rgb(211, 98, 98);
    border-bottom: 1px solid rgb(207, 104, 104);

  }

}

.main-page4{
  padding: 0 0;
  width: 100%;
}
