.Pcontainer{
  position: relative;
  margin: 0 auto;
  padding: 0;
  z-index: 5;
  overflow: hidden;
  width: 1152px;
  h1{
    font-size: 45px;
    font-weight: 400;
  }
  p{
    font-weight: 200;
  }
}
// h1, h2, h3, p, b, a{
//   white-space: pre-line;
// }

.Psub_inner{
  position: relative;
}
.party_main{
  width: 100%;
  height: 600px;
  background-size: cover;
  position: relative;
  display: inline-block;
  max-width: 100%;
  background-repeat: no-repeat;
}
.party_main_img{
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
.party_main_txt{
  position: absolute;
  top: 60%;
  left: 45%;
  transform: (-50%, -50%);
  text-align: center;
  color: #fff;
  h1{
    font-size: 60px;
  }
  h3{
    font-size: 32px;
    line-height: 1;
    color: #fff;
  }
}

.party_ex{
  position: relative;
  text-align: center;
  padding-top: 40px;
  line-height: 2;
}
.party_ex h3{
  color: #ad5656;
}
.party_button{
  padding: 0 30px;
  height: 38px;
  border-radius: 50px;
  border: 1px solid #424242;
}
.party_button:hover{
  background-color: #424242;
  color: white;
}
.pgallery_left{
  margin-top: 50px;
  position: relative;
  box-sizing: border-box;
  width: 80%;
  left: 10%;
}
.pgallery_right{
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
  h2{
    font-size: 40px;
    padding: 0 0 20px;
    font-weight: lighter;
  }
}
.partyinfo{
  width: 100%;
  text-align: center;
  .pinfo_text{
    h2{
      font-size: 40px;
      font-weight: lighter;
      margin-bottom: 20px;
    }
    p{
      line-height: 1.8;
      margin-bottom: 60px;
    }
  }
}
.Multi{
  margin-bottom: 150px;
}
.pright_tab{
  margin-top: 40px;
  margin-bottom: 80px;
  .ht{
    padding-right: 20px;
    text-decoration-line: underline;
    font-weight: bold;
  }
  .lt{
    padding-right: 20px;
    font-size: 0.9em;
  }
}

.pmenu_ex{
  position: relative;
  text-align: left;
  left: 80px;
  width: 50%;
  float: left;
  h1{
    margin-bottom: 20px;
  }
  p{
    line-height: 1.8;
  }
  .pmenu_tab{
    float: left;    
    a{
      font-size: 24px;
      line-height: 110px;
      border-bottom: 1px solid black;
    }
  }
}
.pmenu_tab a:hover{
  color: #ad5656;
}
.party_menu_wrap{
  width: 100%;
  .party_left{
    width: 50%;
    position: relative;
  }
  .Vswiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    width: 50%;
    height: 600px;
  }
}
