//첫번째박스 메인 백그라운드
.exp3-imagg{
  background: url(../../../../public/image/Exp/Exp3/bride-1255520_1920.jpg) 50%;
  height: 100vh;
  background-size: cover;
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
//이미지 안에 글씨색
.exp3-imagg1{
  color: white;
  
}
//이미지안에 h3사이즈
.exp3-imagg1 h3{
  font-size: 39px;
  font-weight: 300;
  margin: 0;
   
}
//이미지안에 h1
.exp3-imagg1 h1{
  font-size: 56px;
  font-weight: 500;
  margin: 0;
  
}
//두번째 박스
.exp3-2{
  position: relative;
  text-align: center;
} 
//두번째박스 li 위치조절
.exp3-2 li{
  display: inline-block;
  padding: 25px;
}
//두번째박스 a태그 글씨조절
.exp3-2 li a{
  color: #242322;
  font-size: 1.1em;
  font-weight: 600;
}
//클릭했을때 색변경
.exp3-2 li a:hover{
  color: #Ad5656;
  
}
//두번째 a태그 색변경
.exp3-2 ul li:nth-child(4) a{
  color: #Ad5656;
}

//세번째 박스안에 이미지
.exp3-3-imagg2{
  height: 750px;
  background: url(../../../../public/image/Exp/Exp3/wedding-dresses-1486005_1280.jpg) top no-repeat;
  background-size: cover;
  margin-top: 80px;
}





