.wedding_container {
  overflow: initial;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  white-space: pre-wrap;

  .contents {
    position: relative;
    padding: 0;
    z-index: 5;
    min-width: 320px; 
    overflow: hidden;
    letter-spacing: -.5px;
  }

  .back-image {
    // background: url(../../../public/image/wedding/jamsil/back.jpg) 50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
  }
  .contents_header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-attachment: fixed;

    // transform: translate(-50%, -50%);
  }
  .big_tit {
    text-align: center;
    color: #fff;
  }
  .big_tit h1 {
    color: #fff;
    font-size: 60px;
  }
  .big_tit h3 {
    font-size: 30px;
    // font-weight: 400;
    line-height: 1;
  }
  .main nav {
    overflow-x: auto;
    padding: 2.5VW 2vw 2vw;
    text-align: center;
  }
  .main nav ul {
    list-style: none;
    white-space: nowrap;
  }
  .main nav ul li {
    display: inline-block;
  }
  .main nav ul li a {
    color: #000;
    font-weight: 700;
    font-size: 1.1em;
    margin-right: 20px;
  }
  .main nav ul li a.active {
    color: #ad5656;
  }
  .main nav ul li a:hover {
    color: #ad5656;
  }

  .inner {
    position: relative;
    padding: 2vw 0 0;
  }

  .center_first {
    margin-top: 0;
    padding: 1vw 0 3vw;
    width: 100%;
    text-align: center;
  }
  .center_first h1 {
    position: relative;
    padding: 0 0px 20px;
    font-size: 45px;
  }
  .center_first h1 span {
    font-size: 24px;
    letter-spacing: 0.3em;
    display: block;
  }
  .center_first h1:after {
    height: 40px;
    bottom: -5px;
    content: "";
    position: absolute;
    width: 1px;
    background: #313131;
    left: 50%;
    bottom: -40px;
  }

  .center_seccond {
    padding: 30px 0 0;
    text-align: center;
  }
  .center_seccond h3 {
    color: #ad5656;
    // font-weight: 400;
    font-size: 23px;
  }
  .center_seccond p {
    font-weight: 400;
    padding: 3vw 0 3vw;
  }

  .center_third {
    background: 50% no-repeat;
    // background-size: ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    height: 880px;
    margin: 0 0 4vw;
  }
  .center_third img {
    background-size: cover;
  }
  #nemo {
    padding: 3vw 6vw;
    border: 1px solid #000;
    background: hsla(0, 0%, 100%, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .information {
    position: relative;
    padding: 2vw 1vw;
  }
  .information h2 {
    font-size: 40px;
    padding: 0 0 20px;
    font-weight: 400;
  }
  .information p {
    font-size: 16px;
  }
  .center_fourth {
    display: flex;
    position: relative;
    width: 100%;
    height: 92vh;
    min-height: 780px;
  }
  .slidebox {
    width: 68%;
    margin-left: 0;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  .swiper {
    transform: translateZ(0);
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    transition: transform 300ms
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next, .swiper-button-prev{
    display: none;
  }
  .l_arrow {
    top: 80%;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 30px;
    left: auto;
    right: calc(30% - 60px);
    bottom: -45vh;
    width: 63px;
    height: 63px;
    position: absolute;
    margin-top: calc(var(--swiper-navigation-size)*1/2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .r_arrow {
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 30px;
    top: 80%;
    left: auto;
    right: calc(30% - 135px);
    bottom: -45vh;
    width: 63px;
    height: 63px;
    position: absolute;
    margin-top: calc(var(--swiper-navigation-size)*1/2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .l_arrow:hover {
    color: #ad5656;
    border: 1px solid #ad5656;;
  }
  .r_arrow:hover {
    color: #ad5656;
    border: 1px solid #ad5656;;
  }


  .gallery {
    margin-top: 0;
    width: 30%;
  }
  .sub_tit {
    padding: 2vw 0;
    position: relative;
  }
  .sub_tit h2 {
    font-size: 40px;
    padding: 0 0 20px;
    font-weight: 400;
  }
  .gallery_btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .gallery_btn .btn_boline {
    margin: 20px 20px 0 0;
  }
  .btn_boline {
    position: relative;
    display: inline-block;
    font-weight: 500;
    white-space: nowrap;
  }
  .btn_boline:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #959ba5;
    left: 0;
    bottom: 0;
  }

  .backblack {
    width: 50%;
  }

  .foooter.backimg03 {
    // background: 50%;
    background-size: cover;
  }
  .foooter {
    padding: 6vw;
    display: flex;
    color: #fff;
    margin-top: 4vw;
  }
  .foooter_txt {
    width: 50%;
    padding: 0 2.5vw;
  }
  .tit h1 {
    font-size: 45px;
    font-weight: 400;
  }
  .txt {
    width: 650px;
    padding: 3vw 0;
  }
  .txt p {
    width: 100%;
    padding: 10px 0 10px 40px;
    font-size: 1.0em;
    color: hsla(0, 0%, 100%, .8);
    background-size: 20px;
  }
  .txt_01 {
    background: url(../../../public/image/wedding/map.png) left 9px no-repeat;
  }
  .txt_02 {
    background: url(../../../public/image/wedding/phone.png) left 9px no-repeat;
  }
  .txt_03 {
    background: url(../../../public/image/wedding/bus.png) left 9px no-repeat;
  }
  .txt_04 {
    background: url(../../../public/image/wedding/train.png) left 9px no-repeat;
  }
  .txt_05 {
    background: url(../../../public/image/wedding/car.png) left 9px no-repeat;
  }
  .txt_s01 {
    padding: 10px 0 0;
    display: inline-block;
    color: #dedab8;
  }
  .pdt00 {
    padding-top: 0;
  }

  .map_area {
    width: 50%;
    padding: 1vw 0 0;
  }
  .map {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    background: rgb(248, 249, 250);
  }
  .map_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .map_btn a {
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
  .btn_down {
    margin: 10px 5px;
    position: relative;
    display: inline-block;
    margin: 30px 20px 0 0;
    white-space: nowrap;
  }
  // .btn_down:after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   height: 1px;
  //   background: #fff;
  //   left: 0;
  //   bottom: 0;
  // }
}
