
//첫번째박스 메인 백그라운드
.exp1-imagg{
  background: url(../../../../public/image/Exp/Exp1/weddings-3225110_1920.jpg) 50%;
  height: 100vh;
  background-size: cover;
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}
//이미지 안에 글씨색
.exp1-imagg1{
  color: white;
  
}
//이미지안에 h3사이즈
.exp1-imagg1 h3{
  font-size: 39px;
  font-weight: 300;
  margin: 0;
   
}
//이미지안에 h1
.exp1-imagg1 h1{
  font-size: 56px;
  font-weight: 500;
  margin: 0;
  
}
//두번째 박스
.exp1-2{
  position: relative;
  text-align: center;
} 
//두번째박스 li 위치조절
.exp1-2 li{
  display: inline-block;
  padding: 25px;
}
//두번째박스 a태그 글씨조절
.exp1-2 li a{
  color: #242322;
  font-size: 1.1em;
  font-weight: 600;
}
//클릭했을때 색변경
.exp1-2 li a:hover{
  color: #Ad5656;
  
}
//두번째 a태그 색변경
.exp1-2 ul li:nth-child(2) a{
  color: #Ad5656;
}



//세번째 박스안에 이미지 
.exp1-3-imagg2{
  height: 750px;
  background: url(../../../../public/image/Exp/Exp1/event-6927353_1280.jpg) top no-repeat;
  background-size: cover;
  margin-top: 80px;
}




//세번째 박스안에 세번째 박스
.exp1-3-3{
 text-align: left;
 line-height: 2;
}
//ul 리스트스타일 제거 위치조절
.exp1-3-3 ul{
  display: flex;
  list-style: none;
  padding: 30px 0;
}
//h3사이즈조절
  .exp1-3-3 h3{
    font-size: 20px;
  }
//마진 오른쪽
.exp1-3-3 li img{
  margin-right: 50px;
  max-width: 90%;
  box-sizing: border-box;
  
}
//세번째박스 첫번째 이미지 조절
.exp1-3-3 li:nth-child(1) img{
  width: 430px;
  height: 370px;
  
}
//세번째박스 두번째 이미지 조절
.exp1-3-3 li:nth-child(2) img{
  width: 470px;
  height: 520px;
  
  
}
//세번째박스 세번째 이미지 조절
.exp1-3-3 li:nth-child(3) img{
  width: 430px;
  height: 370px;

}


