.REbody-container2{
  position: relative;
  padding: 0;
  z-index: 5;
  min-width: 320px;
  overflow: hidden;
  background: #f9f9f9 url(../../../../public/img/SangDam/15.jpg) bottom no-repeat!important;
  background-attachment: inherit!important;
  background-size: cover!important;
  min-height: 87vh;

  .resv-container2{
    padding: 160px 0 0;
    flex: 1 1;
    height: 100vh;
    min-height: 830px;
    max-height: 1000px;
    margin: 0 60px 0 60px;
    backdrop-filter: blur(0);

    .contatent-warp2{
      position: relative;
      height: 100%;
      padding: 60px 0 30px;
      border-radius: 15px;
      backdrop-filter: blur(2px);
      align-items: flex-start;
      height: auto;
      margin: 0 80px;
      z-index: 1;

      .ris-tit3{
        margin: 0 0 0;
        text-align: center;
        color: white;

        h2{
          font-size: 32px;
          font-weight: 400;
          padding: 0 0 15px;
        }

        h3{
          font-size: 16px;
          font-weight: 200;
          padding: 0 0 40px;
          min-height: 60px;
        }
      }

      .ris-tit4{
        position: relative;
        flex: 2;
        display: flex;
        height: 55%;
        flex-direction: column;
        justify-content: flex-end;

        ul{
          display: flex;
          justify-content: center;
          position: relative;
          flex-wrap: wrap;
          list-style: none;
          margin: 0;
          padding: 0;

          li{
            position: relative;
            flex: 0 0 24%;
            margin: 0 1%;
            color: #fff;
            text-align: center;
            overflow: hidden;
            border: 1px solid hsla(0,0%,100%,0);
            transition: all .3s;
            cursor: pointer;
            background: transparent;

            &:hover{
              border: solid 1px rgb(255, 255, 255);
              border-radius: 50px;
              background-color: rgba(29, 29, 29, 0.548);
            }

            p{
              position: absolute;
              z-index: 1;
              width: 90%;
              top: 70%;
              left: 50%;
              transform: translate(-50%,-50%);
              font-size: 20px;
              font-weight: 400;
              color: #fff;
            }

            span{
              position: relative;
              display: block;
              height: 300px;
              max-height: 300px;
              transition: all .2s;
        
              &:hover{
                transform: scale(1.1); /* 이미지 확대 */
                border: solid 1px white;
              }
            }

            .icon4{
              background-color: transparent;
              background-image: url(../../../../public/img/Reservations/22.png);
              background-position: center 30%;
              background-repeat: no-repeat;
              background-size: auto;
            }
            .icon5{
              background-color: transparent;
              background-image: url(../../../../public/img/Reservations/23.png);
              background-position: center 30%;
              background-repeat: no-repeat;
              background-size: auto;
            }
          }
        }
      }
    }
  }
}

