/* DayOfWeekSelector.css */

.day-of-week-selector-container {
  text-align: center;
  padding: 30px 0px;
  width: 450px;
  background-color: rgba(37, 37, 37, 0.363);
  border: solid 1px rgb(109, 109, 109);
}

.days-of-week {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  width: 90px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #747474;
  border-radius: 5px;
}

.day:hover {
  background-color: #d1bebe;
}

.selected {
  background-color: rgb(255, 101, 101);
  color: #fff;
}
