#header-container{
  position: fixed;
  top: 0!important;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: transparent;
  z-index: 10;
  min-width: 1152px;
  height: 70px;
  transition: height .4s cubic-bezier(.17,.04,.03,.94);
}


.header-warp{
  position: relative;
  max-width: 96%;
  margin: 0 auto;
  height: 110px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-warp a{
  cursor: pointer;
  color: #242322;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  font-family: Montserrat,Notosanskr,sans-serif;
}

.header-warp img{
  display: block;
  position: relative;
  width: 250px;
  opacity: .6;
  margin-right: auto;
  cursor: pointer;
  transition: left .3s linear;
}

.header-item{
  color: #fff;
  flex-grow: 0;
  width: 89%;
  min-width: 980px;
}

.header-item ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-item ul li{
  margin-right: 5.25rem;
  position: relative;
  font-weight: 700;
  font-size: 15px;
}

.header-item ul li a{
  font-size: 15px;
  font-weight: 800;
  display: block;
  padding: 10px 10px 10px;
  box-sizing: border-box;
  transition: all .25s ease;
  color: white;
  margin: 0 20px 0 0;
  background: transparent;
  cursor: pointer;
}

#header-container:hover {
  background-color: white;
  height: 16.7vw;
}


#header-container:hover .header-item a{
  color: black;
  position: relative;
  text-decoration: none;
}

#header-container:hover .header-item a:hover{
  color: rgb(201, 74, 74);
}

#header-container .header-item a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px; /* 밑줄의 높이 조절 가능 */
  bottom: 0;
  left: 0;
  background-color: rgb(201, 74, 74); /* 밑줄 색상 조절 가능 */
  transition: width 0.3s ease; /* 천천히 나타나는 효과를 위한 transition 속성 */
}

#header-container .header-item a:hover::before {
  width: 100%; /* 텍스트에 호버했을 때 밑줄이 왼쪽에서 오른쪽으로 나타나도록 설정 */
}


#header-container:hover #sub-menu {
  opacity: 1;
  transform: translateY(0);
}


#sub-menu{
  left: 10px;
  top: 45px;
  opacity: 0;
  position: absolute;
  display: block;
  background: transparent;
  z-index: 1;
  flex-direction: column;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#sub-menu li a{
  float: left;
  padding: 8px 0;
  font-weight: 450!important;
  font-size: 14px!important;
  color: black;
  border: 0;
  white-space: nowrap;
  display: block;
}


