.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px 10px;
}

.footer-toggle{
  padding-top: 35px;
  text-align: center;

  button{
    cursor: pointer;
  }
}

.footer-toggle > button {
  background: none;
  border: solid 1px black; 
  border-radius: 50px;
  margin: 0 15px;
  padding: 20px 80px;
  font-size: 0.8rem;
  transition: background-color 0.5s ease;
}

.footer-toggle > button:hover{
  background-color: rgb(127, 172, 255);
}


.footer-content {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row; /* 기본값인 가로로 배치되어 있으므로 생략 가능 */
}

.footer-section {
  padding: 0 60px;

  img{
    width: 200px;
  }
}

.footer-section2 {
  margin-left: auto; /* 기존 float: right; 대신 사용 */
  padding: 0 40px;

  h2{
    color: rgb(161, 52, 52);
  }

  h3{
    color: rgb(161, 52, 52);
  }

  p{
    color: rgb(0, 0, 0);
  }
}

.footer-section3 {
  padding: 0 20px;
  margin-top: 20px; 
  
  a{
    color: black;
    padding-left: 20px;
  }
}

.footer-section4 {
  padding: 0 20px 0 50px;
  border-right: solid 0.3px rgb(128, 128, 128, 0.644);

  h2{
    font-size: 1.1rem;
  }
}

.footer-section5 {
  padding: 10px 30px;

  p{
    color: gray;
    font-weight: 200;
    margin: 8px 0;
  }
}


.footer-section h2 {
  font-size: 1.1rem;
}


.footer-section p {
  color: gray;
  font-weight: 200;
  margin: 8px 0;
}

.footer-bottom {
  border-top: solid 0.5px rgba(128, 128, 128, 0.801);
  text-align: center;
  padding-top: 20px;
}