.image-container1{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .item2{
    background-image: url(../../../public/img/About/al1.jpg);
    background-size: cover;
  }
  .item3{
    background-image: url(../../../public/img/About/al2.jpg);
    background-size: cover;
  }
  .item4{
    background-image: url(../../../public/img/About/al3.jpg);
    background-size: cover;
  }
  .item5{
    background-image: url(../../../public/img/About/al4.jpg);
    background-size: cover;
  }

.image-item {
  position: relative;
  overflow: hidden;
  width: 50vw; /* 이미지 아이템의 너비 설정 */
  height: 100vh; /* 이미지 아이템의 높이 설정 */
  transition: width 1s ease; /* 호버 시 크기 변화를 부드럽게 만들기 위한 트랜지션 설정 */
}

.image-item:hover {
  width: 400vw; /* 호버 시 가로로 전체 이미지가 보이도록 확대 */
}

.item-txt2 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease; /* 호버 시 텍스트 표시를 부드럽게 만들기 위한 트랜지션 설정 */
  .small{
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
    left: 10px;
    top: 10px;
  }
  .big{
    left: 10px;
    top: 10px;
  }
}



.image-item:hover .item-txt2 {
  opacity: 1;
}
}