.image-container2{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

    .item2{
      background-image: url(../../../public/img/About/alt1.jpg);
      background-size: cover;
    }
    .item3{
      background-image: url(../../../public/img/About/alt2.jpg);
      background-size: cover;
    }
    .item4{
      background-image: url(../../../public/img/About/alt3.jpg);
      background-size: cover;
    }
    .item5{
      background-image: url(../../../public/img/About/alt4.jpg);
      background-size: cover;
    }

  .image-item {
    position: relative;
    overflow: hidden;
    width: 50vw; /* 이미지 아이템의 너비 설정 */
    height: 100vh; /* 이미지 아이템의 높이 설정 */
    transition: width 1s ease; /* 호버 시 크기 변화를 부드럽게 만들기 위한 트랜지션 설정 */
  }

  .image-item:hover {
    width: 400vw; /* 호버 시 가로로 전체 이미지가 보이도록 확대 */
  }

  .item-txt2 {
    margin: 0;
    padding: 0;
    opacity: 0;
    p{
      position: absolute;
      top: 75px;
      color: #ffffff;
      padding: 0 40 0 0;
      text-align: left;
      left: 40px;
      font-size: 35px;
    }
    .small{
      position: absolute;
      top: 50px;
      color: #ffffff;
      font-size: 1.05em;
    }
  }
  .item-txt3{
    color: #ffffff;
    font-weight: 400;
    position: absolute;
    bottom: 55px;
    padding: 0 0 0 0;
    text-align: right;
    right: 40px;
    font-size: 17px;
    opacity: 0;
  }



  .image-item:hover .item-txt2 {
    opacity: 1;
  }
}
  .image-item:hover .item-txt3 {
    opacity: 1;
}
