.App2{
    font-family: sans-serif;
    text-align: center;

    h2{
        font-size: 40px;
        font-weight: lighter;
        padding-bottom: 20px;
    }
    h3{
        color: #e48989;
        font-weight: 300;
        font-size: 27px;
        padding-bottom: 20px;
    }
    p{
        font-size: 15px;
        font-weight: 200;
    }
}