.ceremony{
	padding-top: 7vw;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: left;
	margin: auto;
	background-color: black;
	color: white;
	
	h4{
		padding-top: 2vw;
		padding-bottom: 1vw;
	}

	button{
		margin-top: 1vw;
		font-size: large;
		border: none;
		background-color: purple;
		padding: 0.5vw;
		color: white;
		margin-bottom: 1vw;
	}

	table{
		width: 80%;
		border: 1px solid purple;
    border-collapse: collapse;

		th, td{
			padding: 1vw;
			border: 1px solid purple;
		}
	}
}