.REbody-container{
  position: relative;
  padding: 0;
  z-index: 5;
  min-width: 320px;
  overflow: hidden;
  background: url(../../../public/img/Reservations/11.jpg) 50% no-repeat!important;
  background-color: rgba(0, 0, 0, 0.473);
  background-attachment: fixed!important;
  background-size: cover!important;

  
  .resv-container{
    padding: 250px 0 0;
    flex: 1 1;
    height: 100vh;
    min-height: 830px;
    max-height: 1000px;
  }
  .contatent-warp{
    margin: 0 80px;
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .ris-tit{
    margin: 0 0 0;
    text-align: center;
    h2{
      color: white;
      font-size: 32px;
      font-weight: 400;
      padding: 0 0 15px;
    }
    h3{
      font-size: 16px;
      font-weight: 200;
      padding: 0 0 40px;
      min-height: 60px;
      color: white;
    }
  }
  .ris-tit2{

    ul{
      display: flex;
      justify-content: center;
      position: relative;
      flex-wrap: wrap;
    }

    li{
      position: relative;
      flex: 0 0 24%;
      margin: 0 1%;
      color: #fff;
      text-align: center;
      overflow: hidden;
      border: 1px solid hsla(0,0%,100%,0);
      transition: all .3s;
      cursor: pointer;
      background: transparent;

      &:hover{
        border: solid 1px rgb(255, 255, 255);
        border-radius: 50px;
        background-color: rgba(29, 29, 29, 0.548);
      }
    }

    p{
      position: absolute;
      z-index: 1;
      width: 90%;
      top: 65%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 20px;
      font-weight: 400;
      color: #fff;
    }

    span{
      position: relative;
      display: block;
      height: 300px;
      max-height: 300px;
      transition: all .2s;

      &:hover{
        transform: scale(1.1); /* 이미지 확대 */
        border: solid 1px white;
      }
    }

    



    .icon1{
      background-color: transparent;
      background-image: url(../../../public/img/Reservations/12.png);
      background-position: center 30%;
      background-repeat: no-repeat;
      background-size: auto;
    }
    .icon2{
      background-color: transparent;
      background-image: url(../../../public/img/Reservations/13.png);
      background-position: center 30%;
      background-repeat: no-repeat;
      background-size: auto;
    }
    .icon3{
      background-color: transparent;
      background-image: url(../../../public/img/Reservations/14.png);
      background-position: center 30%;
      background-repeat: no-repeat;
      background-size: auto;
    }
  }
}

