// product-main
.product-page1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed !important;
  background: center/cover;

  .product-content {
    text-align: center;
    color: white;

    h1 {
      font-size: 2.5rem;
      color: white;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}

// 메뉴바.
.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

.menu-items {
  list-style: none;
  padding: 3vw;
  margin: 0;
  display: flex;
  gap: 20px;

  li {
    font-size: 1.1rem;
    font-weight: bold;
    padding-right: 1vw;
    position: relative;

    a {
      text-decoration: none;
      color: black;
      position: relative;

      &:hover {
        color: orange;

        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: orange;
        transform: scaleX(0);
        transform-origin: 0% 50%;
        transition: transform 0.3s ease-out;
      }
    }
  }
}

// selected가 안먹어요!!!!!!!!!!!!!!!!!!!!!! active도 안먹어요!!!!!!!!!!

.photo-cards {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  justify-content: space-between;
  margin: 0.5% auto;

  a{
    text-decoration: none;
    color: black;
  }

  .photo-card {
    margin: 0.5%;
    text-align: center;
    padding-bottom: 2vw;
    overflow: hidden;

    img {
      width: 25vw;
      height: 50vh;
      transition: transform 0.3s ease-in-out;
    }

    .card-details {
      padding: 0.3vw;
      margin-top: 0.4vw;
      
      span{
        color: #ad5656;
      }

      h3 {
        padding-bottom: 0.4vw;
      }
    }

    &:hover {
      img {
        transform: scale(1.02);
      }
    }
  }
}

.detail-container {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10vw auto;

  .image-container {
    width: 50%;
    margin-right: 3vw;
    position: relative;
  
    img {
      width: 100%;
      height: 70vh;
      object-fit: cover;
      display: block;
    }
  
    .image-overlay {
      position: absolute;
      top: 70%;
      left: 0;
      top: 70%;
      width: 100%;
      display: flex;
      justify-content: start;
      padding: 10px 0;
    }
  
    .thumbnail-container {
      display: flex;
      align-items: center;
    }
  
    .thumbnail {
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 8px;
      cursor: pointer;
      transition: background-color 0.3s;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      &.active {
        border: 1px solid red;
        // border-color: red;
      }
  
      &:hover {
        background-color: #ccc;
      }
    }
  }
  
  .description-container {
    width: 45%;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .list-button {
      padding: 5px;
      border: 1px solid black;
      background: none;
      cursor: pointer;
      border-radius: 30px;
      &:hover {
        svg, span{
          color: gray;
        }
        border-color: gray;
      }
      span{
        vertical-align:middle;
        font-size: 13px;
      }
      svg{
        vertical-align:middle;
      }
    }
    

    p {
      margin: 0;
    }

    h1 {
      margin-top: 1vw;
      font-size: 1.6rem;
      margin-bottom: 1vw;
    }


    .details {
      margin-top: 1.5vw;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
      display: flex;
      flex-direction: column;
    }
    
    .detail {
      padding: 1.4vw;
      border-bottom: 1px solid #ccc;
  
      &:last-child {
        border-bottom: none;
      }
  
      p {
        padding-bottom: 1vw;
        font-weight: bold;
        display: block;
      }
  
      span.description {
        width: 70%;
        float: left;
      }
  
      span.price {
        width: 30%;
        text-align: right;
        float: right;
        color: #ad5656;
        font-size: 1.5rem;
      }
    }
  }
}

